.Application {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: 1rem;
  .Application-header {
    text-align: center;
    width: 100%;
  }
  .Application-body {
    text-align: center;
    width: 100%;
  }
}
